﻿<div class="jumbotron">
    @if (User.Identity.IsAuthenticated)
    {
        <h1>@User.Identity.Name</h1>
        <p class="lead">Endre web.config <i>authentication mode</i> fra <i>"Windows"</i> til <i>"None"</i> for å bruke prodreg</p>
        <p>
            <a href="@Url.Action("SignOut", "Account")" class="btn btn-primary btn-lg">Logg ut</a>
        </p>
    }
    else
    {
        <h1>Ikke innlogget</h1>
    }

</div>
<div class="row">
    <h2>Claims:</h2>
    <dl>
        @foreach (var claim in Model)
        {
            <dt>@claim.Type</dt>
            <dt>@claim.Value</dt>
        }
    </dl>

</div>
